body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #124C81;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper {
  @apply w-full py-10
}


/* .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eee;
  text-align: center;
  gap: 20px;
  padding: 30px;
  width: 500px;
  height: 350px;
} */

.swiper-slide {
  @apply flex flex-col justify-center bg-white text-center gap-5 p-7 md:max-w-[270px] lg:max-w-[360px] min-[530px]:max-w-[230px] max-w-[500px] h-[380px]
}

.swiper-slide-active {
  @apply shadow-custom-shadow;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-black
}

.swiper-pagination-bullet {
  @apply bg-transparent border-2 border-black opacity-100 w-2 h-2
}


.swiper-slide-prev, .swiper-slide-next {
  @apply p-12;
}

.selectingcolor{
  colour: white;
}